{{ define "main" }}
<div class="col col-xl-8 border-bottom">
    <div class="d-none d-print-flex justify-content-center">
        <div class="alert alert-info text-center">Please go to <a href="http://jamesplank.co.uk/cv"
                class="alert-link">http://jamesplank.co.uk/cv</a> for a better view of this CV.</div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 order-1">
            <ul class="list-unstyled">
                <li>Department of Physics and Astronomy</li>
                <li>University of Southampton</li>
                <li>Southampton, United Kingdon</li>
                <li>SO17 1BJ</li>
            </ul>
        </div>
        <div class="col-12 col-sm-4 text-center order-3 order-sm-2 pb-3">
            <a class="h1 link-underline-light" href="/">James Plank</a>
            <a class="d-none d-sm-block" href="http://jamesplank.co.uk">jamesplank.co.uk</a>
        </div>
        <div class="col-12 col-sm-4 order-2 order-sm-3">
            <ul class="list-unstyled text-end">
                <li><a href="mailto:james@jamesplank.co.uk">james@jamesplank.co.uk</a></li>
                <li><a href="https://orcid.org/0000-0001-8281-059X">ORCiD</a></li>
                <li><a href="https://github.com/jmsplank">GitHub</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <!-- LEFT COL -->
        <div class="col-12 col-sm-4 bg-dark text-light p-4">
            <article>
                <h2>Technical Skills</h2>
                <p class="my-0">Proficient in:</p>
                <ul>
                    <li>Python</li>
                    <li>Git</li>
                    <li>AWS</li>
                    <li>Google Firebase</li>
                    <li>CAD (AutoCAD & Fusion 360)</li>
                    <li>Javascript</li>
                    <li>Typescript</li>
                    <li>Adobe Suite</li>
                </ul>
                <p class="my-0">Familiar with:</p>
                <ul>
                    <li>IDL</li>
                    <li>C/C++</li>
                    <li>Fortran</li>
                    <li>OpenMP</li>
                    <li>Apache Groovy</li>
                </ul>
            </article>
            <article class="pt-4">
                <h2>Education</h2>
                <div class="my-4">
                    <p class="my-0">2020-2024</p>
                    <p class="my-0">DPhil Doctorate of Philosophy - Physics</p>
                    <p class="my-1">University of Southampton</p>
                    <p class="px-2">Fluid Dynamics &#183; Turbulence &#183;
                        Magnetohydrodynamics &#183; Satellite Systems &#183; Simulation
                        &#183; Kinetic Theory &#183; Electrodynamics</p>
                </div>
                <div class="my-4">
                    <p class="my-0">2016-2020</p>
                    <p class="my-0">MPhys Physics with Astronomy</p>
                    <p class="my-1">University of Southampton</p>
                    <p class="px-2">Signal Processing &#183; Linear algebra &#183;
                        Computing &#183; Statistics &#183; Quantum Physics &#183;
                        Thermodynamics &#183; Electrodynamics &#183; Plasma Physics</p>
                </div>
                <p>A-Levels in Computing, Maths, Physics and Photography | Peter Symonds College, Winchester</p>
            </article>
            <article class="pt-4">
                <h2>Interests</h2>
                <ul>
                    <li>I am a runner, currently training for half marathon to
                        ultramarathon distance races, as well as multi-day trips on some of
                        the UK's most iconic paths and ways</li>
                    <li>Often writing code for fun, check my <a class="text-light"
                            href="http://github.io/jmsplank">GitHub</a> for some
                        examples.</li>
                    <li>Keen photographer</li>
                    <li>Started bouldering a year ago and currently really enjoying
                        it!</li>
                </ul>
            </article>
            <!-- <article>
                <h2>Languages</h2>
                <ul>
                    <li>French A1</li>
                </ul>
            </article> -->
        </div>
        <!-- Right Column -->
        <div class="col-12 col-sm-8 p-4">
            {{/* <article>
                <p>I am a PhD researcher currently working at the University of
                    Southampton. My interests are in the UK and continental European space
                    industries. The majority of my prior work is on software and in big data
                    analysis, however I have some experience in hardware and spacecraft
                    testing.</p>
            </article> */}}
            <article class="col gy-3">
                <h2>Employment</h2>
                <div class="px-4">
                    <h5>PhD Student | University of Southampton | 2020-2024</h5>
                    <p>Python &#183; Fortran &#183; Git &#183; C++ &#183; OpenMP</p>
                    <p>
                        I have been researching turbulence in space plasmas, focusing on
                        the bow shock, the supersonic shock wave that forms part of the
                        boundary between the magnetic fields of the Earth and the Sun. I
                        have had the opportinuty to speak at multiple international
                        conferences, as well as publish original research in
                        peer-reviewed journals, and teach physics and programming to
                        undergraduates.
                    </p>
                </div>
                <div class="px-4">
                    <h5>Startup CTO | The Running Algorithm | 2020</h5>
                    <p>Typescript &#183; Javascript &#183; Firebase &#183; AWS</p>
                    <p>
                        Here I took the opportunity to work on a passion of mine, the
                        sports science involved in optimising the training of runners.
                        We wanted to grow a company as much as possible in the few
                        months I had in-between finishing my Master's and starting a
                        PhD. My roles were many and varied, from full-stack developer,
                        to cloud infrastructure architect, to obtaining seed funding. We managed
                        to grow to several thousand users and £5,000+ in successful
                        funding before we had to shut down when the PhD became too time
                        consuming.
                    </p>
                </div>
                <div class="pagebreak d-none d-print-block py-3"></div>
                <div class="px-4">
                    <h5>Internship & further casual work | <a href="http://in-space.co.uk">In-Space</a> | 2019 &
                        2020
                    </h5>
                    <p>Fusion 360 &#183; Python &#183; Groovy &#183; Git (Bitbucket)</p>
                    <p>
                        Involved in the design of a flatset representation of In-Space's
                        Faraday-1 spacecraft, as well as aspects of AIT for Faraday-1,
                        such as interference testing. This fast-paced role required me
                        to learn fast and adapt quickly to the problem of the day. I was
                        surrounded by passionate, intelligent and engaging people and
                        this is what confirmed to me that the space industry is where I
                        want to be.
                    </p>
                </div>
                <div class="px-4">
                    <h5>Summer Studentship | University of Southampton | 2017 & 2018</h5>
                    <p>Python &#183; IDL</p>
                    <p>
                        I worked on a public outreach project, <a href="http://aurorazoo.org">Aurora Zoo</a>, where
                        members of the public identify patterns in the Aurora filmed by
                        a camera situated in Svalbard, in the arctic circle.
                    </p>
                </div>
            </article>
            <!-- <article>
                <h2>Funding</h2>
            </article> -->
            <article>
                <h2>Oral Presentations</h2>
                <ul>
                    <li>Autumn MIST, London, UK, 2023</li>
                    <li>European Geosciences Union (EGU) General Assembly, Vienna, Austria, 2023, <a href="https://doi.org/10.5194/egusphere-egu23-6971
                        ">10.5194/egusphere-egu23-6971
                        </a></li>
                    <li>MMS Community Workshop, Florida, USA, 2022, <a
                            href="https://commons.erau.edu/mms-conference/2022/friday/21/">link</a></li>
                    <li>Autumn MIST, London, UK, 2022</li>
                    <li>National Astronomy Meeting, Warwick, UK, 2022</li>
                    <li>MMS Community Workshop, New Hampshire, USA, 2021</li>
                    <li>National Astronomy Meeting, 2021</li>
                    <li>Autumn MIST, 2021</li>
                </ul>
            </article>
            <article>
                <h2>Teaching</h2>
                <ul>
                    <li>2021,2022: <a href="https://www.southampton.ac.uk/courses/modules/phys2022#aims">"Physics
                            from
                            Evidence"</a>
                        programming module for Undergraduates teaching assistant and demonstrator, teaching
                        fundamentals
                        of programming in python</li>
                    <li>2022,2023: <a href="http://www.southampton.ac.uk/courses/modules/phys6008">"Physics from
                            Evidence II"</a> observational astronomy demonstrator, teaching data science and
                        statistics
                        in the context of analysing data from astronomy telescopes</li>
                    <li>2023: <a href="https://www.southampton.ac.uk/courses/modules/phys1022">"Electricity and
                            Magentism"</a>, <a href="https://www.southampton.ac.uk/courses/modules/phys1013">"Energy
                            and
                            Matter"</a>, <a href="https://www.southampton.ac.uk/courses/modules/phys1015">"Motion
                            and
                            Relativity"</a> and <a href="https://www.southampton.ac.uk/courses/modules/phys1011">"Waves,
                            Light and Quanta"</a> core physics tutor for undergraduates.
                    </li>
                </ul>
            </article>
            <div class="pagebreak py-3 d-none d-print-block"></div>
            <article>
                <h2>Publications</h2>
                <div class="px-4">
                    <p><strong>Plank, J.</strong>, & Gingell, I. L. (2023).
                        Intermittency at Earth's bow shock: Measures of turbulence in
                        quasi-parallel and quasi-perpendicular shocks. Physics of Plasmas,
                        30(8). <a href="https://doi.org/10.1063/5.0160439">https://doi.org/10.1063/5.0160439</a></p>
                </div>
                <div class="px-4">
                    <p>Gingell, I., Schwartz, S. J., Kucharek, H., Farrugia, C. J.,
                        Fryer, L. J., <strong>Plank, J.</strong>, & Trattner, K. J. (2023).
                        Hybrid simulations of the decay of reconnected structures downstream
                        of the bow shock. Physics of Plasmas, 30(1). <a
                            href="https://doi.org/10.1063/5.0129084">https://doi.org/10.1063/5.0129084</a>
                    </p>
                </div>
                <div class="px-4">
                    <p>Coxon, J. C., Fear, R. C., Reidy, J. A., Fryer, L. J., &
                        <strong>Plank, J.</strong> (2021). Hot Plasma in the Magnetotail
                        Lobes Shows Characteristics Consistent With Closed Field Lines
                        Trapped in the Lobes. Journal of Geophysical Research: Space
                        Physics, 126(9). Portico. <a
                            href="https://doi.org/10.1029/2021ja029516">https://doi.org/10.1029/2021ja029516</a>
                    </p>
                </div>
            </article>
            <article>
                <h2>Media</h2>
                <div class="px-4">
                    <p>Shapiro, M. (2023). A turbulent journey toward understanding
                        space plasma dynamics. Scilight, 2023(35). <a
                            href="https://doi.org/10.1063/10.0020904">https://doi.org/10.1063/10.0020904</a>
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>
{{ end }}