$white: #e6e9ef;

$light:      #eff1f5;
$dark:       #4c4f69;
$primary:    #5c5f77;
$secondary:  #e64553;
$info:       #fe640b;
$success:    #40a02b;
$warning:    #df8e1d;
$danger:     #d20f39;

$theme-colors: (
    "light":      $light,
    "dark":       $dark,
    "primary":    $primary,
    "secondary":  $secondary,
    "info":       $info,
    "success":    $success,
    "warning":    $warning,
    "danger":     $danger,
);

$body-color: $dark;
$body-bg: $light;

// @import url('https://fonts.googleapis.com/css?family=Grenze+Gotisch');
// $headings-font-family: 'Grenze Gotisch', sans-serif;

@font-face {
    font-family: et-book;
    src: url('/fonts/et-book-roman-line-figures.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: et-book;
    src: url('/fonts/et-book-bold-line-figures.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: et-book-bold;
    src: url('/fonts/et-book-bold-line-figures.woff') format('woff');
    font-weight: bold;
}

$font-family-base: et-book, sans-serif;
$headings-font-family: et-book-bold, sans-serif;

